#top-page .top-page-container {
    padding-top: 2rem;
}

#top-page .book-cover img {
    width: 100%;
    height: 16.25rem;
    border-radius: 5%;
    object-fit: contain;
}

#top-page .review-text p {
    margin-bottom: 0;
    /* max-width: 95%; */
}

#top-page .read-more-button {
    color: #8bc34a;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0.55rem 0;
    cursor: pointer;
}

#top-page .read-more-button:hover {
    color: #257517;
}

#top-page .link-to-review {
    text-decoration: none;
}

#top-page .MuiAppBar-colorPrimary {
    color: black;
    background-color: #eef0e7;
}

#top-page .PrivateTabIndicator-colorPrimary-6 {
    background-color: #218211;
}
